
<!DOCTYPE html>
<html lang="en">
<head>
    <style >
        .color-box {
    width: 900px;
    height: 790px;
    display: inline-block;
    background-color: rgb(255, 254, 254);
    top: 0px;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, 0%);   
    padding: 15px;
}
.center
{
margin-left: 30%;
margin-right: auto;
text-align:center;
margin-top: 100px;
}
    </style>
</head>
<body style="background-color: #000000;">
<div class="color-box">
    <div class="center">
        {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
    {% endfor %}
    </div>
</div>

</body>
</html>